<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS , Dynamic Routing</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascripts/script.js"></script>
</head>
<body>
    <h1>Hey Hii Bie <%= 2+2 %></h1>
     
    <!-- EJS Syntax <%=2+2%> Your Dynamic Stuffs That You Want to Put-->
</body>
</html> 